[submodule "lib/settingsnode"]
	path = lib/settingsnode
	url = https://github.com/swillner/settingsnode
[submodule "cmake"]
	path = cmake
	url = https://github.com/swillner/cmake-modules
[submodule "lib/cpp-library"]
	path = lib/cpp-library
	url = https://github.com/swillner/cpp-library
[submodule "lib/libmrio"]
	path = lib/libmrio
	url = https://github.com/swillner/libmrio
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11
