# SPDX-FileCopyrightText: Acclimate authors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

Christian Otto <christian.otto@pik-potsdam.de>
Kilian Kuhla <kilian.kuhla@pik-potsdam.de>
Lennart Quante <lennart.quante@pik-potsdam.de>
Lennart Quante <lennart.quante@pik-potsdam.de> <lennart.quante@me.com>
Patryk Kubiczek <patryk.kubiczek@pik-potsdam.de>
Patryk Kubiczek <patryk.kubiczek@pik-potsdam.de> <patryk.kubiczek@gmail.com>
Robin Middelanis <robin.middelanis@pik-potsdam.de>
Sven Willner <sven.willner@pik-potsdam.de>
Sven Willner <sven.willner@pik-potsdam.de> <sven.willner@gmail.com>
