AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: Google
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
ColumnLimit: 160
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
Standard: Cpp11
UseTab: Never
